---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- Display publications without category headings -->
{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Papers I'm Interested In</h2>
<hr />

<div class="publication-item">
  <h3>Work in Progress</h3>
  <p>Currently working on several research projects in the areas of:</p>
  <ul>
    <li>Natural Language Processing and Biomedical Informatics</li>
    <li>Model Interpretability and Explainable AI</li>
    <li>3D Vision and Computer Vision Applications</li>
    <li>Generative AI and Large Language Models</li>
  </ul>
</div>



